[submodule "awesome-copycats"]
	path = awesome-copycats
	url = https://github.com/copycat-killer/awesome-copycats.git
[submodule "vicious"]
	path = vicious
	url = http://git.sysphere.org/vicious
[submodule "awesompd"]
	path = awesompd
	url = https://github.com/cskksc/awesompd.git
